{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "THE SCAPE ROOM: UNKNOWN DIMENSION" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}

    {% if SOCIALACCOUNT_ENABLED %}
        <p>
            {% trans "Por favor, inicia sesión con Google." %}
        </p>
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}

    {% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}