/* ====================================
   ESTILOS PARA LA PÁGINA DE CONFIGURACIÓN
   ==================================== */

/* Estilos generales del body para la página */
body.config-page-body {
    background: #050505ea; /* Fondo negro profundo */
    font-family: 'Audiowide', sans-serif; /* Fuente consistente */
    color: #00FF00; /* Texto principal en verde brillante */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
}

/* Contenedor principal del formulario */
.config-container {
    width: 100%;
    max-width: 600px;
    background: #131320; /* Fondo gris oscuro */
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5), 0 0 30px rgba(0, 255, 255, 0.3);
    border-radius: 35px;
    padding: 35px;
}

/* Título principal */
.config-title {
    font-size: 2.2em;
    letter-spacing: 3px;
    font-weight: bold;
    color: #00FF00;
    text-shadow: 0 0 15px #00FF00;
    margin-bottom:35px;
}

/* Subtítulos y texto descriptivo */
.config-text {
    font-size: 1.2em;
    color: #00FFFF;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Estilos para el formulario */
.config-form {
    margin-top: 10px;
    text-align: center;
}

/* Estilo para los labels del formulario */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #00FF00;
}

/* Estilo para el campo de entrada (input) */
input[type="text"] {
    background-color: #050505;
    border: 2px solid #00FFFF;
    margin-top: 10px;
    color: #00FFFF;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    transition: box-shadow 0.3s;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.8), 0 0 25px rgba(0, 255, 255, 0.6);
}

/* Estilo para el botón de guardar */
.save-button {
    margin-top: 20px;
    background-color: transparent;
    color: #00FFFF;
    border: 2px solid #00FFFF;
    padding: 12px 24px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
}

.save-button:hover {
    background-color: #00FFFF;
    color: #050505;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.9);
}

.descripcion_campo {
    margin-top: 20px;
}
/* Ajustes responsivos */
@media (max-width: 600px) {
    .config-container {
        padding: 20px;
    }
    .config-title {
        font-size: 2em;
    }
    input[type="text"] {
        width: 100%;
    }
    .save-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}
