{% extends "Layout/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Configurar Nombre" %}
{% endblock head_title %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/configurarNombreJuego.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock extra_head %}

{% block content %}
<div class="config-container">
    <h1 class="config-title">¡Bienvenido Hacker! ¿Cómo quieres que te digamos?</h1>
    <p class="config-text">Así se te identificará en el juego y en el ranking.</p>

    <form method="post" class="config-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nombre_juego">Tu Nombre de Juego (nickname):</label>
            {{ form.nombre_juego }}
            <p class="descripcion_campo">Este nombre será visible para otros jugadores y en el ranking.</p>
        </div>
        <button type="submit" class="save-button">Guardar</button>
    </form>
</div>
{% endblock content %}

{% block body_class %}config-page-body{% endblock body_class %}