{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE SCAPE ROOM: UNKNOWN DIMENSION</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}"> <!--Link de los estilos del menu-->
</head>
<body>
    <div id="bienvenida" class="pantalla-bienvenida"> 
    <h1>BIENVENIDOS HACKERS - ACCESO RESTRINGIDO</h1>
    <a href="{% url 'account_login' %}">
    <button class="btn">ENTRAR</button>
  </div>
</body>
</html>