{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escape Room</title>
  <script  src="{% static 'js/tiempo.js' %}" defer></script>
</head>
<body>
  <p>Tiempo de inicio (string): {{ jugador.tiempo_inicio|date:'c' }}</p>
  <p>Nombre: {{jugador.nombre}}</p>
  <div>Tiempo transcurrido: <span id="cronometro">00:00</span></div>
  <div>Puntaje: {{jugador.puntaje}}</span></div>
  <!--Indica en el numero de pregunta que se encuentra-->
  <h1>Nivel 1</h1>
  <h2>Pregunta {{ pregunta_actual }} de {{ total }}</h2>
  <!--Nos muestra el enunciado a la pregunta-->
  <p>{{ pregunta.enunciado }}</p>

  <!--En el caso, de que se haya equivocado en la opcion, el usuario-->
  {% if mensaje_error %}
    <p style="color: red;">{{ mensaje_error }}</p>
  {% endif %}

  <!--Cuando envia el formulario el usuario-->
  <form method="post">
    {% csrf_token %}
    <!--Muestra cada opcion de la pregunta como un parrafo-->
    {{ form.as_p }}

    <input type="hidden" id="puntaje" name="puntaje" value="{{ jugador.puntaje }}">
    <button type="submit">Responder</button>
  </form>
</body>
</html>
