<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
</head>
<body>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {# Verifica que si el usuario coloco el nombre de juego, sino mostrara el generado por Django #}
        <h1>¡Hola, {% if user.jugador.nombre_juego %}{{ user.jugador.nombre_juego }}{% else %}{{ user.username }}{% endif %}!</h1>
        <p>¿Qué quieres hacer hoy?</p>
        <div>
            <a href="{% url 'eleccionNivel' %}">Nueva Partida / Elegir Nivel</a><br>
            {# <a href="{% url 'cargar_partida' %}">Cargar Partida</a><br> #}
            <a href="{% url 'ranking' %}">Ver Ranking</a><br>
            {# Otros enlaces del menú #}
        </div>
        <br>
        <a href="{% url 'account_logout' %}">Cerrar Sesión</a>
    </div>
</body>
</html>