{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <!-- ==============================
       FUENTES Y META DATOS
  ============================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

  <meta charset="UTF-8">
  <title>THE SCAPE ROOM: UNKNOWN DIMENSION</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Ruta CSS desde la raíz /static -->
  <link rel="stylesheet" href="{% static 'css/menu.css' %}"> <!--Link de los estilos del menu-->
</head>
<body>

   <!-- ==============================
       PANTALLA DE ACCESO AL SISTEMA
  ============================== -->
  <div id="pantallaAcceso" class="pantalla-bienvenida">
    <h1>ACCESO AL SISTEMA</h1>
    <button id="btnAcceso" class="btn">ENTRAR</button>
  </div>

  <!-- ==============================
       VIDEO DE FONDO
  ============================== -->
  <video class="video-fondo" id="videoFondo" autoplay loop muted>
    <!-- Ruta video desde la raíz /static/videos -->
    <source src="{% static 'videos/fondo.mp4' %}" type="video/mp4">
  </video>

  <!-- ==============================
       MENÚ PRINCIPAL
  ============================== -->
  <div class="contenido" id="menu-principal" style="display: none;">
    <h1><strong>ESCAPE ROOM:</strong></h1>
    <h1><strong>UNKNOWN DIMENSION</strong></h1>
    <h2>Continuar</h2>
    <a href="#" id="nuevaPartidaBtn" class="clickeables" data-sala-id="1">
    <h3 >Nueva Partida</h3>
    </a>

    <!-- OPCIONES DEL MENÚ -->
    <a href="{% url 'eleccionNivel' %}"><h3>Niveles</h3></a>
    <h3>Soporte</h3>
  </div>
    
  <!-- Info del Usuario-->
  <div class="usuario-info" id="usuarioInfo" style="display: none;">
    <h3>Usuario: {{ jugador.nombre_juego }}</h3>
    <h3><a href="{% url 'account_logout' %}">Cerrar Sesion</a></h3>
  </div>

    <!-- PANTALLA HACKER (EFECTO MATRIX) -->
    <div id="pantallaCarga" style="display:none;" class="pantalla-hacker">
      <canvas id="matrixCanvas"></canvas>
      <div class="contenedor-texto">
        <h1 class="hacker-texto">STAGE 1</h1>
        <p class="hacker-cargando">Cargando...</p>
      </div>
    </div>
    
    <!-- AUDIOS DEL MENÚ -->
    <audio id="sonidoAcceso" src="{% static 'audios/sonido-menu.mp3' %}" preload="auto"></audio>
    <audio id="sonidoInicio">
      <source src="{% static 'audios/sonido-stage.mp3' %}" type="audio/mp3">
    </audio>
    <audio id="sonido-menu" loop>
      <source src="{% static 'audios/sonido-menu.mp3' %}" type="audio/mp3">
    </audio>
    
    

  
  <!-- JS desde /static/js/ -->
    <!-- Script para pasar la URL base de los estaticos al JS -->
    <script>
        window.STATIC_URL_BASE = "{% static '' %}";
    </script>
    
  <script src="{% static 'js/menu.js'%}"></script>
</body>
</html>